@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&display=swap');

#root {
  font-family: 'Italiana', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url("https://www.worldatlas.com/r/w960-q80/upload/cb/c3/8b/shutterstock-598679624.jpg"); */
  background-image: url("https://i.pinimg.com/736x/b0/d4/e0/b0d4e07799520a7a9489260e92f202fe.jpg");
  background-size: cover;

}


#signout {
  border-radius: 5%;
  background-color: white;
  margin-bottom: 2%;
  max-width: 30em;
  min-width: 30em;
  max-height: 2em;
  min-height: 2em;
  background-color: transparent;
  font-size: 1em;
}

#signout:hover {
font-size: 1.5em;
background-color: #edebe8;
color:#636a5d;
}

#signedinas {
  opacity: 2;
  font-size: 3em;
  margin-bottom: 1%;
  color: #636a5d;
}

.AppSignIn {
  border: 0.1px solid white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  margin: 0.15rem 0;
}

.AppSignIn>#input {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 20vw;
  height: 3vh;
  font-size: 1em;
  border-radius: 5%;
  text-align: center;
  opacity: 1;
  font-family: 'Italiana', serif;
  font-weight: 1000;
  background-color: #edebe8;
  opacity: .7;
}

.AppSignIn>#input:hover {
  width: 22vw;
  height: 4vh;
}

#travelh3 {
  opacity: 2;
  font-size: 3em;
  color:#636a5d;
  border: 2px #9d8c84;
  border-style: solid;
  margin: 5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h1 {
  font-size: 4.5em;
  text-align: center;
  opacity: 2;
  color:#636a5d;
}

.AppSignIn>#table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat();
  font-size: 2em;
  margin: 4em;
  margin-bottom: .15em;
  margin-top: 2em;
}

#pic {
  display: none;
  width: 100%;
  -webkit-transition: all 0.8s ease;
 -moz-transition: all 0.8s ease;
 transition: all 0.8s ease;
 margin-top: 1.5em; 
 /* max-height: 6.2em;
 max-width: 12em; */
 object-fit: cover;
}

.info {
  display: block;
  width: 100%; 
  -webkit-transition: all 0.8s ease;
 -moz-transition: all 0.8s ease;
 transition: all 0.8s ease;
}

#borrar {
  cursor: pointer;
  display: none;
  margin-top: 10px;
}

#travel {
  display: table;
  clear: both;
  border: 2px solid #9d8c84;
  padding: 30px;
  font-weight: 1000;
  overflow: hidden;
}

#travel:hover #borrar{
  display: block;
  background-color: #edebe8;
}

#travel:hover .info{
  display: none;
}


#travel:hover #pic {
  display: block;
  background-color: #edebe8;
  transform: scale(1.8,1.8);

}

#travel:hover #pic + #borrar {
  display: block;
  background-color: #edebe8;
  transform: scale(.6,.6);
  opacity:0.6;
}

/*Photo and borrar*/





.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #636a5d;
}


input:focus + .slider {
  box-shadow: 0 0 1px #636a5d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

